figure {
    margin: auto;
    padding: 1em;
    width: 250px;
    object-fit: cover;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 3px 3px 22px -7px rgba(0,0,0,0.75);
      justify-content: space-evenly;
    flex-wrap: wrap;
  }

  body, h1 h3, ul {
    min-width:300px; 
     margin: 0;
     padding: 0;
     font-family: Arial, Helvetica, sans-serif;
 }

 form {
    margin: auto;
}


header {
	width:100%;
    text-align:center;
	background-color: red;
	padding-bottom: 0.5em;
}



/* header > img {
    display:inline-block;
    margin: 0 auto;
    width:40%
} */

header strong {
	color: green;
}