<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Details</title>
    <meta charset = "ISO-8859-1" />
       <link href="../static/css/main.css"
          th:href="@{css/main.css}" rel="stylesheet" media="screen"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <header>
    <img src = "images/logo.png">
</header>
    
	<nav>
		<ul>
			<li><a href="/add">Add a new Event</a></li>
            <li><a href="/">Home</a></li>
			<li><a href="/logout" id="logout">Logout</a></li>
		</ul>
	</nav>

    <main>

    <figure>
        <table>
  <tr>
    <th>Title:</th>
    <td th:text="${eventDetails.topic}"></td>
  </tr>
  <tr>
    <th>Class size:</th>  
    <td th:text="${eventDetails.classSize}"></td>      
  </tr>  

  <tr>
    <th>Location:</th>  
    <td th:text="${eventDetails.location}"></td>      
  </tr>  
  <tr>
    <th>Date:</th>  
    <td th:text="${eventDetails.date}"></td>      
  </tr>  
  <tr>
    <th>Start time:</th>  
    <td th:text="${eventDetails.time}"></td>      
  </tr>  
  <tr>
    <th>End time:</th>  
    <td th:text="${eventDetails.endTime}"></td>      
  </tr>  

</table>

<br />
<p th:if="${edit}">
  <a style="font-size : 2em;" th:href="@{/edit(id=${eventDetails.eventID})}">Edit</a>
</p>

<br />
        </figure>





<div align = "center">
    <table border = "1" cellpadding = "10">
        <thead>
            <tr>
                <th> name </th>
                <th> email </th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${attendenceList.empty}">
                <td colspan="2"style="text-align:center"> No Users Have Registered Yet</td> 
            </tr>
            <tr th:each="user : ${attendenceList}">
                <td><span th:text="${user.username}"> </span></td>
                <td><span th:text="${user.email}"> </span></td>
                <td>
                    <a style="text-decoration: underline;" th:href="@{/delete_attendee(username=${user.username},id=${eventDetails.eventID})}">Delete</a>
                </td>
                </td>
            </tr>

        </tbody>
    </table>
</div>
</main>
</body>
</html>