<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Trainer Home</title>
    <meta charset = "ISO-8859-1" />
       <link href="../static/css/main.css"
          th:href="@{css/main.css}" rel="stylesheet" media="screen"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!-- <header>
        <img src = "./images/logo.png">
	</header> -->
    
	<nav>
		<ul>
			<li><a href="/add">Add a new Event</a></li>
			<li><a href="/logout" id="logout">Logout</a></li>
		</ul>
	</nav>

  <main>
    
    <!-- WEEK COMMENCING INFO HERE -->
    <h1 th:text="${weekCommencing}"></h1>

    <div class="row">
        <div class="column" style="background-color:#aaa;">
          <h2>Monday</h2>

        <tr th:each="event: ${mondayEvents}">
            <a th:href="@{/details(id=${event.eventID})}" th:with="result=${event.duration + 90}"> <!--Add 90 to duration to get height--> 
            <figure th:style="|height:${result}px|">
                <h3 id = 'title' th:text="${event.topic}"></h3>
                <p id = 'time' th:text="${event.time}">time</p>
                <p> - </p>
                <p id = 'time' th:text="${event.endTime}">endTime</p>
              </figure>
            </a>

        </tr>

        </div>
        <div class="column" style="background-color:#bbb;">
          <h2>Tuesday</h2>
          <tr th:each="event: ${tuesdayEvents}">
            <a th:href="@{/details(id=${event.eventID})}" th:with="result=${event.duration + 90}"> <!--Add 90 to duration to get height--> 
              <figure th:style="|height:${result}px|">
                <h3 id = 'title' th:text="${event.topic}"></h3>
                <p id = 'time' th:text="${event.time}">time</p>
                <p> - </p>
                <p id = 'time' th:text="${event.endTime}">endTime</p>
              </figure>
            </a>

        </tr>
        </div>
        <div class="column" style="background-color:#ccc;">
          <h2>Wednesday</h2>
          <tr th:each="event: ${wednesdayEvents}">
            <a th:href="@{/details(id=${event.eventID})}" th:with="result=${event.duration + 90}"> <!--Add 90 to duration to get height--> 
              <figure th:style="|height:${result}px|">
                <h3 id = 'title' th:text="${event.topic}"></h3>
                <p id = 'time' th:text="${event.time}">time</p>
                <p> - </p>
                <p id = 'time' th:text="${event.endTime}">endTime</p>
              </figure>
            </a>

        </tr>
        </div>
        <div class="column" style="background-color:#ddd;">
          <h2>Thursday</h2>
          <tr th:each="event: ${thursdayEvents}">
            <a th:href="@{/details(id=${event.eventID})}" th:with="result=${event.duration + 90}"> <!--Add 90 to duration to get height--> 
              <figure th:style="|height:${result}px|">
                <h3 id = 'title' th:text="${event.topic}"></h3>
                <p id = 'time' th:text="${event.time}">time</p>
                <p> - </p>
                <p id = 'time' th:text="${event.endTime}">endTime</p>
              </figure>
            </a>

        </tr>
        </div>
        <div class="column" style="background-color:#ddd;">
            <h2>Friday</h2>
            <tr th:each="event: ${fridayEvents}">
              <a th:href="@{/details(id=${event.eventID})}" th:with="result=${event.duration + 90}"> <!--Add 90 to duration to get height--> 
                <figure th:style="|height:${result}px|">
                  <h3 id = 'title' th:text="${event.topic}"></h3>
                  <p id = 'time' th:text="${event.time}">time</p>
                  <p> - </p>
                  <p id = 'time' th:text="${event.endTime}">endTime</p>
                </figure>
              </a>
  
          </tr>
        </div>
        <div class="column" style="background-color:#ddd;">
            <h2>Saturday</h2>
            <tr th:each="event: ${saturdayEvents}">
              <a th:href="@{/details(id=${event.eventID})}" th:with="result=${event.duration + 90}"> <!--Add 90 to duration to get height--> 
                <figure th:style="|height:${result}px|">
                  <h3 id = 'title' th:text="${event.topic}"></h3>
                  <p id = 'time' th:text="${event.time}">time</p>
                  <p> - </p>
                  <p id = 'time' th:text="${event.endTime}">endTime</p>
                </figure>
              </a>
  
          </tr>
        </div>
        <div class="column" style="background-color:#ddd;">
            <h2>Sunday</h2>
            <tr th:each="event: ${sundayEvents}">
              <a th:href="@{/details(id=${event.eventID})}" th:with="result=${event.duration + 90}"> <!--Add 90 to duration to get height--> 
                <figure th:style="|height:${result}px|">
                  <h3 id = 'title' th:text="${event.topic}"></h3>
                  <p id = 'time' th:text="${event.time}">time</p>
                  <p> - </p>
                  <p id = 'time' th:text="${event.endTime}">endTime</p>
                </figure>
              </a>
  
          </tr>
        </div>
      </div>
    
  </main>
<footer id="footer">

    <div class="centerFooter">
      <div class="pagination">
        <a href="/?page=-1" th:text="-1" th:style="${footer == -1 ? 'background-color:grey' : 'background-color-white'}"></a>></a>
        <a href="/?page=1" th:text="1" th:style="${footer == 1 ? 'background-color : grey' : 'background-color-white'}"></a>
        <a href="/?page=2" th:text="2" th:style="${footer == 2 ? 'background-color : grey' : 'background-color-white'}"></a>
        <a href="/?page=3" th:text="3" th:style="${footer == 3 ? 'background-color : grey' : 'background-color-white'}"></a>
        <a href="/?page=4" th:text="4" th:style="${footer == 4 ? 'background-color : grey' : 'background-color-white'}"></a>
        <a href="/?page=5" th:text="5" th:style="${footer == 5 ? 'background-color : grey' : 'background-color-white'}"></a>
        <a href="/?page=6" th:text="6" th:style="${footer == 6 ? 'background-color : grey' : 'background-color-white'}"></a>
        <a href="/?page=7" th:text="7" th:style="${footer == 7 ? 'background-color : grey' : 'background-color-white'}"></a>
        <a href="/?page=8" th:text="8" th:style="${footer == 8 ? 'background-color : grey' : 'background-color-white'}"></a>
        <a href="/?page=9" th:text="9" th:style="${footer == 9 ? 'background-color : grey' : 'background-color-white'}"></a>
        <a href="/?page=10" th:text="10" th:style="${footer == 10 ? 'background-color : grey' : 'background-color-white'}"></a>
        <a href="/?page=11" th:text="11" th:style="${footer == 11 ? 'background-color : grey' : 'background-color-white'}"></a>
        <a href="/?page=12" th:text="12" th:style="${footer == 12 ? 'background-color : grey' : 'background-color-white'}"></a>

      </div>
    </div>
</footer>
</body>
</html> 
