<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Login</title>
    <meta charset = "ISO-8859-1" />
       <link href="../static/css/login.css"
          th:href="@{css/login.css}" rel="stylesheet" media="screen"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<header>
    <h1>Fabrikam Technical Training</h1>
</header>
<body>
    <figure>
        <form th:action="@{/login}" method="post">
            <p><label for="user">Username</label><br />
                <input type="text" id="username" placeholder="username" name="username" autofocus="autofocus" /> 
            <p><label for="pass">Password</label><br />
                <input type="password" id="password" name="password" placeholder="password" /> <br />
                <input id="submit" type="submit" value="Log in" />
        </form>

        <p th:if="${loginError}" class="error">Wrong user or password</p>  
                
        </figure>
</body>
</html> 
